@media (max-width: 900px) {
  .search-label {
    display: none !important;
  }
  .media-action-lane {
    padding: 0.18rem 0rem !important;
    gap: 0.15rem !important;
    font-size: 0.85em !important;
    height: 28px !important;
    min-height: 28px !important;
    box-shadow: none !important;
  }
  .media-action-lane button {
    padding: 0.3rem 1rem !important;
    font-size: 0.85em !important;
    min-height: 22px !important;
    height: 22px !important;
  }
  .media-action-lane svg {
    font-size: 18px !important;
    height: 18px !important;
    width: 18px !important;
  }
}
@media (min-width: 901px) {
  .search-label {
    display: inline !important;
  }
  .media-action-lane {
    left: 220px !important;
    width: calc(100% - 220px) !important;
    padding: 0.8rem 0rem !important;
    gap: 0.3rem !important;
    height: 58px !important;
    min-height: 58px !important;
  }
  .media-action-lane button svg {
    font-size: 32px !important;
    height: 32px !important;
    width: 32px !important;
  }
}
